<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle</string>
		<string>139.16.0.171715</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {559.29, 782.89}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2013-01-10 16:15:59 +0200</string>
	<key>Creator</key>
	<string>canleloglu</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1.0000 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{0, 224}, {151.4, 63.7045}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>HFlip</key>
			<string>YES</string>
			<key>ID</key>
			<integer>241</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 0.5}</string>
				<string>{1, -0.5}</string>
				<string>{-1, 0.5}</string>
				<string>{-1, -0.5}</string>
				<string>{0.5, 1}</string>
				<string>{-0.5, 1}</string>
				<string>{0.5, -1}</string>
				<string>{-0.5, -1}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs22 \cf0 Generate Anonymized Subhash Chain\
\{H'\sub i\nosupersub , H'\sub i+1\nosupersub , ... , H'\sub i+LASC-1\nosupersub \}}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{220.997, 396.143}, {117.005, 39}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>HFlip</key>
			<string>YES</string>
			<key>ID</key>
			<integer>240</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 0.5}</string>
				<string>{1, -0.5}</string>
				<string>{-1, 0.5}</string>
				<string>{-1, -0.5}</string>
				<string>{0.5, 1}</string>
				<string>{-0.5, 1}</string>
				<string>{0.5, -1}</string>
				<string>{-0.5, -1}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs22 \cf0 RP' = E\sub K-GW-AP\nosupersub (RP)}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{2.3974, 138}, {221.603, 44}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>HFlip</key>
			<string>YES</string>
			<key>ID</key>
			<integer>222</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 0.5}</string>
				<string>{1, -0.5}</string>
				<string>{-1, 0.5}</string>
				<string>{-1, -0.5}</string>
				<string>{0.5, 1}</string>
				<string>{-0.5, 1}</string>
				<string>{0.5, -1}</string>
				<string>{-0.5, -1}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>3</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;\f1\ftech\fcharset77 Symbol;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qj\pardirnatural

\f0\fs22 \cf0 CR=\
E\sub PU-TTP\nosupersub (Nonce 
\f1 \uc0\u8853 
\f0  SN || Nonce || H\sub i\nosupersub )}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{91.575, 476}, {141.85, 39}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>HFlip</key>
			<string>YES</string>
			<key>ID</key>
			<integer>220</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 0.5}</string>
				<string>{1, -0.5}</string>
				<string>{-1, 0.5}</string>
				<string>{-1, -0.5}</string>
				<string>{0.5, 1}</string>
				<string>{-0.5, 1}</string>
				<string>{0.5, -1}</string>
				<string>{-0.5, -1}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs22 \cf0 D\sub K-GW-AP\nosupersub (D\sub PU-TTP\nosupersub (RP'))\
Store Alias and H'\sub i}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{241.805, 476}, {110.9, 39}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>HFlip</key>
			<string>YES</string>
			<key>ID</key>
			<integer>219</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 0.5}</string>
				<string>{1, -0.5}</string>
				<string>{-1, 0.5}</string>
				<string>{-1, -0.5}</string>
				<string>{0.5, 1}</string>
				<string>{-0.5, 1}</string>
				<string>{0.5, -1}</string>
				<string>{-0.5, -1}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs22 \cf0 D\sub PU-TTP\nosupersub (RP)\
Store Alias and H'\sub i}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{345, 396.143}, {99.4, 39}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>HFlip</key>
			<string>YES</string>
			<key>ID</key>
			<integer>218</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 0.5}</string>
				<string>{1, -0.5}</string>
				<string>{-1, 0.5}</string>
				<string>{-1, -0.5}</string>
				<string>{0.5, 1}</string>
				<string>{-0.5, 1}</string>
				<string>{0.5, -1}</string>
				<string>{-0.5, -1}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs22 \cf0 D\sub PU-TTP\nosupersub (RP)\
Store Alias and H'\sub i}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{333.397, 233.5}, {221.603, 122.5}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>HFlip</key>
			<string>YES</string>
			<key>ID</key>
			<integer>25</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 0.5}</string>
				<string>{1, -0.5}</string>
				<string>{-1, 0.5}</string>
				<string>{-1, -0.5}</string>
				<string>{0.5, 1}</string>
				<string>{-0.5, 1}</string>
				<string>{0.5, -1}</string>
				<string>{-0.5, -1}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>2</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;\f1\ftech\fcharset77 Symbol;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qr\pardirnatural

\f0\fs22 \cf0 D\sub PR-TTP\nosupersub (CR)\
SN = Nonce 
\f1 \uc0\u8853 
\f0  SN 
\f1 \uc0\u8853 
\f0  Nonce\
Check SN and H\sub i\nosupersub  relevancy\
Generate Anonymized Subhash Chain (ASC)\
ASC = \{H'\sub i\nosupersub , H'\sub i+1\nosupersub , ... , H'\sub i+LASC-1\nosupersub \}\
Calculate Alias = h (Nonce 
\f1 \uc0\u8853 
\f0  SN)\
Store Alias and H'\sub i\nosupersub \
RP = E\sub PR-TTP\nosupersub (Alias || H'\sub i\nosupersub )}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{477.5, 12}, {72, 76}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>13</real>
			</dict>
			<key>ID</key>
			<integer>213</integer>
			<key>ImageID</key>
			<integer>6</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{384.5, 36}, {24, 52}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>13</real>
			</dict>
			<key>ID</key>
			<integer>212</integer>
			<key>ImageID</key>
			<integer>5</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{251, 49}, {57, 35}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>13</real>
			</dict>
			<key>ID</key>
			<integer>211</integer>
			<key>ImageID</key>
			<integer>4</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{106.605, 6}, {110.9, 82}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>13</real>
			</dict>
			<key>ID</key>
			<integer>210</integer>
			<key>ImageID</key>
			<integer>3</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{27.5, 49}, {36, 39}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>13</real>
			</dict>
			<key>ID</key>
			<integer>208</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{211.115, 444.071}, {16, 13}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>205</integer>
			<key>Line</key>
			<dict>
				<key>ID</key>
				<integer>204</integer>
				<key>Offset</key>
				<real>10.909090042114258</real>
				<key>Position</key>
				<real>0.52006888389587402</real>
				<key>RotationType</key>
				<integer>0</integer>
			</dict>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural

\f0\fs22 \cf0 RP'}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>204</integer>
			<key>Points</key>
			<array>
				<string>{270.7, 462}</string>
				<string>{171.3, 461}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>StickArrow</string>
					<key>HeadScale</key>
					<real>1.4285709857940674</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>TailScale</key>
					<real>0.5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{329.115, 366.071}, {14, 13}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>202</integer>
			<key>Line</key>
			<dict>
				<key>ID</key>
				<integer>201</integer>
				<key>Offset</key>
				<real>10.909090042114258</real>
				<key>Position</key>
				<real>0.52006888389587402</real>
				<key>RotationType</key>
				<integer>0</integer>
			</dict>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural

\f0\fs22 \cf0 RP}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>201</integer>
			<key>Points</key>
			<array>
				<string>{387.7, 384}</string>
				<string>{288.3, 383}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>StickArrow</string>
					<key>HeadScale</key>
					<real>1.4285709857940674</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>TailScale</key>
					<real>0.5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{445.815, 358.071}, {14, 13}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>200</integer>
			<key>Line</key>
			<dict>
				<key>ID</key>
				<integer>199</integer>
				<key>Offset</key>
				<real>10.909090042114258</real>
				<key>Position</key>
				<real>0.52006888389587402</real>
				<key>RotationType</key>
				<integer>0</integer>
			</dict>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural

\f0\fs22 \cf0 RP}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>199</integer>
			<key>Points</key>
			<array>
				<string>{504.4, 376}</string>
				<string>{405, 375}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>StickArrow</string>
					<key>HeadScale</key>
					<real>1.4285709857940674</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>TailScale</key>
					<real>0.5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{440.295, 206.591}, {38, 13}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>195</integer>
			<key>Line</key>
			<dict>
				<key>ID</key>
				<integer>194</integer>
				<key>Offset</key>
				<real>10.909090042114258</real>
				<key>Position</key>
				<real>0.52006888389587402</real>
				<key>RotationType</key>
				<integer>0</integer>
			</dict>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural

\f0\fs22 \cf0 Forward}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>194</integer>
			<key>Points</key>
			<array>
				<string>{407.6, 224}</string>
				<string>{507, 224}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>StickArrow</string>
					<key>HeadScale</key>
					<real>1.4285709857940674</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>TailScale</key>
					<real>0.5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{320.995, 203.591}, {38, 13}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>193</integer>
			<key>Line</key>
			<dict>
				<key>ID</key>
				<integer>192</integer>
				<key>Offset</key>
				<real>10.909090042114258</real>
				<key>Position</key>
				<real>0.52006888389587402</real>
				<key>RotationType</key>
				<integer>0</integer>
			</dict>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural

\f0\fs22 \cf0 Forward}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>192</integer>
			<key>Points</key>
			<array>
				<string>{288.3, 221}</string>
				<string>{387.7, 221}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>StickArrow</string>
					<key>HeadScale</key>
					<real>1.4285709857940674</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>TailScale</key>
					<real>0.5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{203.995, 198.591}, {38, 13}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>189</integer>
			<key>Line</key>
			<dict>
				<key>ID</key>
				<integer>188</integer>
				<key>Offset</key>
				<real>10.909090042114258</real>
				<key>Position</key>
				<real>0.52006888389587402</real>
				<key>RotationType</key>
				<integer>0</integer>
			</dict>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural

\f0\fs22 \cf0 Forward}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>188</integer>
			<key>Points</key>
			<array>
				<string>{171.3, 216}</string>
				<string>{270.7, 216}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>StickArrow</string>
					<key>HeadScale</key>
					<real>1.4285709857940674</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>TailScale</key>
					<real>0.5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{96.1948, 194.591}, {15, 13}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>31</integer>
			<key>Line</key>
			<dict>
				<key>ID</key>
				<integer>6</integer>
				<key>Offset</key>
				<real>10.909090042114258</real>
				<key>Position</key>
				<real>0.52006888389587402</real>
				<key>RotationType</key>
				<integer>0</integer>
			</dict>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural

\f0\fs22 \cf0 CR}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>6</integer>
			<key>Points</key>
			<array>
				<string>{52, 212}</string>
				<string>{151.4, 212}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>StickArrow</string>
					<key>HeadScale</key>
					<real>1.4285709857940674</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>TailScale</key>
					<real>0.5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>AllowLabelDrop</key>
					<false/>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>TimesNewRomanPSMT</string>
						<key>Size</key>
						<real>11</real>
					</dict>
					<key>ID</key>
					<integer>44</integer>
					<key>Points</key>
					<array>
						<string>{513.5, 117.391}</string>
						<string>{513.5, 535}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>HeadScale</key>
							<real>1.4285709857940674</real>
							<key>Legacy</key>
							<true/>
							<key>Pattern</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>TailScale</key>
							<real>0.5</real>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>45</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{472, 88}, {83, 28.8905}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>TimesNewRomanPSMT</string>
						<key>Size</key>
						<real>11</real>
					</dict>
					<key>ID</key>
					<integer>45</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict/>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc

\f0\fs22 \cf0 \ul \ulc0 TTP}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>43</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>AllowLabelDrop</key>
					<false/>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>TimesNewRomanPSMT</string>
						<key>Size</key>
						<real>11</real>
					</dict>
					<key>ID</key>
					<integer>41</integer>
					<key>Points</key>
					<array>
						<string>{396.5, 115.785}</string>
						<string>{396.5, 535}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>HeadScale</key>
							<real>1.4285709857940674</real>
							<key>Legacy</key>
							<true/>
							<key>Pattern</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>TailScale</key>
							<real>0.5</real>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>42</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{355, 88}, {83, 27.2855}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>TimesNewRomanPSMT</string>
						<key>Size</key>
						<real>11</real>
					</dict>
					<key>ID</key>
					<integer>42</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict/>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc

\f0\fs22 \cf0 \ul \ulc0 Operator}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>AllowLabelDrop</key>
					<false/>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>TimesNewRomanPSMT</string>
						<key>Size</key>
						<real>11</real>
					</dict>
					<key>ID</key>
					<integer>38</integer>
					<key>Points</key>
					<array>
						<string>{279.5, 116.588}</string>
						<string>{279.5, 535}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>HeadScale</key>
							<real>1.4285709857940674</real>
							<key>Legacy</key>
							<true/>
							<key>Pattern</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>TailScale</key>
							<real>0.5</real>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>39</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{238, 88}, {83, 28.088}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>TimesNewRomanPSMT</string>
						<key>Size</key>
						<real>11</real>
					</dict>
					<key>ID</key>
					<integer>39</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict/>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc

\f0\fs22 \cf0 \ul \ulc0 Gateway}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>37</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>AllowLabelDrop</key>
					<false/>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>TimesNewRomanPSMT</string>
						<key>Size</key>
						<real>11</real>
					</dict>
					<key>ID</key>
					<integer>35</integer>
					<key>Points</key>
					<array>
						<string>{162.5, 116.588}</string>
						<string>{162.5, 535}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>HeadScale</key>
							<real>1.4285709857940674</real>
							<key>Legacy</key>
							<true/>
							<key>Pattern</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>TailScale</key>
							<real>0.5</real>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>36</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{121, 88}, {83, 28.088}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>TimesNewRomanPSMT</string>
						<key>Size</key>
						<real>11</real>
					</dict>
					<key>ID</key>
					<integer>36</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict/>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc

\f0\fs22 \cf0 \ul \ulc0 Mesh\
Backbone}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>34</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>AllowLabelDrop</key>
					<false/>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>TimesNewRomanPSMT</string>
						<key>Size</key>
						<real>11</real>
					</dict>
					<key>ID</key>
					<integer>33</integer>
					<key>Points</key>
					<array>
						<string>{45.5, 116.588}</string>
						<string>{45.5, 535}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>HeadScale</key>
							<real>1.4285709857940674</real>
							<key>Legacy</key>
							<true/>
							<key>Pattern</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>TailScale</key>
							<real>0.5</real>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>3</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{4, 88}, {83, 28.088}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>TimesNewRomanPSMT</string>
						<key>Size</key>
						<real>11</real>
					</dict>
					<key>ID</key>
					<integer>3</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict/>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc

\f0\fs22 \cf0 \ul \ulc0 Client}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>7</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image6.pdf</string>
		<string>image5.pdf</string>
		<string>image4.pdf</string>
		<string>image3.pdf</string>
		<string>image1.pdf</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2013-02-18 19:57:46 +0200</string>
	<key>Modifier</key>
	<string>Can Leloglu</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{595.29, 841.89}</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{85, 4}, {834, 774}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-62, 0}, {685, 636}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
