<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle</string>
		<string>139.16.0.171715</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {559.29, 782.89}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2013-01-10 21:50:51 +0200</string>
	<key>Creator</key>
	<string>Serhat Can Leloglu</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1.0000 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{218.137, 549.39}, {125.371, 39}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>HFlip</key>
			<string>YES</string>
			<key>ID</key>
			<integer>240</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 0.5}</string>
				<string>{1, -0.5}</string>
				<string>{-1, 0.5}</string>
				<string>{-1, -0.5}</string>
				<string>{0.5, 1}</string>
				<string>{-0.5, 1}</string>
				<string>{0.5, -1}</string>
				<string>{-0.5, -1}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs22 \cf0 RP' = E\sub K-GW-AP\nosupersub (RP)}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{3, 378}, {141.125, 63.7045}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>HFlip</key>
			<string>YES</string>
			<key>ID</key>
			<integer>239</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 0.5}</string>
				<string>{1, -0.5}</string>
				<string>{-1, 0.5}</string>
				<string>{-1, -0.5}</string>
				<string>{0.5, 1}</string>
				<string>{-0.5, 1}</string>
				<string>{0.5, -1}</string>
				<string>{-0.5, -1}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs22 \cf0 Generate Anonymized Subhash Chain\
\{H'\sub i\nosupersub , H'\sub i+1\nosupersub , ... , H'\sub i+LASC\nosupersub \}}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{91.9375, 627.818}, {141.125, 45}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>HFlip</key>
			<string>YES</string>
			<key>ID</key>
			<integer>238</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 0.5}</string>
				<string>{1, -0.5}</string>
				<string>{-1, 0.5}</string>
				<string>{-1, -0.5}</string>
				<string>{0.5, 1}</string>
				<string>{-0.5, 1}</string>
				<string>{0.5, -1}</string>
				<string>{-0.5, -1}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs22 \cf0 D\sub PU-TTP\nosupersub (D\sub E-GW-AP\nosupersub (RP'))\
Store Alias and H'\sub i}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{212.508, 595.977}, {16, 13}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>237</integer>
			<key>Line</key>
			<dict>
				<key>ID</key>
				<integer>236</integer>
				<key>Offset</key>
				<real>10.909090042114258</real>
				<key>Position</key>
				<real>0.52006888389587402</real>
				<key>RotationType</key>
				<integer>0</integer>
			</dict>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural

\f0\fs22 \cf0 RP'}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>236</integer>
			<key>Points</key>
			<array>
				<string>{270.975, 613.173}</string>
				<string>{174.025, 613.582}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>StickArrow</string>
					<key>HeadScale</key>
					<real>1.4285709857940674</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>TailScale</key>
					<real>0.5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{239.323, 627.818}, {83, 57.7832}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>HFlip</key>
			<string>YES</string>
			<key>ID</key>
			<integer>235</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 0.5}</string>
				<string>{1, -0.5}</string>
				<string>{-1, 0.5}</string>
				<string>{-1, -0.5}</string>
				<string>{0.5, 1}</string>
				<string>{-0.5, 1}</string>
				<string>{0.5, -1}</string>
				<string>{-0.5, -1}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs22 \cf0 D\sub PU-TTP\nosupersub (RP)\
Store Alias and H'\sub i}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{329.008, 520.952}, {14, 13}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>234</integer>
			<key>Line</key>
			<dict>
				<key>ID</key>
				<integer>233</integer>
				<key>Offset</key>
				<real>10.909090042114258</real>
				<key>Position</key>
				<real>0.52006888389587402</real>
				<key>RotationType</key>
				<integer>0</integer>
			</dict>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural

\f0\fs22 \cf0 RP}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>233</integer>
			<key>Points</key>
			<array>
				<string>{386.475, 538.149}</string>
				<string>{289.525, 538.558}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>StickArrow</string>
					<key>HeadScale</key>
					<real>1.4285709857940674</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>TailScale</key>
					<real>0.5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{350.254, 549.39}, {92.4917, 57.7832}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>HFlip</key>
			<string>YES</string>
			<key>ID</key>
			<integer>227</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 0.5}</string>
				<string>{1, -0.5}</string>
				<string>{-1, 0.5}</string>
				<string>{-1, -0.5}</string>
				<string>{0.5, 1}</string>
				<string>{-0.5, 1}</string>
				<string>{0.5, -1}</string>
				<string>{-0.5, -1}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs22 \cf0 D\sub PU-TTP\nosupersub (RP)\
Store Alias and H'\sub i}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{446.008, 509.395}, {14, 13}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>226</integer>
			<key>Line</key>
			<dict>
				<key>ID</key>
				<integer>225</integer>
				<key>Offset</key>
				<real>10.909090042114258</real>
				<key>Position</key>
				<real>0.52006888389587402</real>
				<key>RotationType</key>
				<integer>0</integer>
			</dict>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural

\f0\fs22 \cf0 RP}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>225</integer>
			<key>Points</key>
			<array>
				<string>{503.475, 526.591}</string>
				<string>{406.525, 527}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>StickArrow</string>
					<key>HeadScale</key>
					<real>1.4285709857940674</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>TailScale</key>
					<real>0.5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{374, 383.198}, {181, 122}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>HFlip</key>
			<string>YES</string>
			<key>ID</key>
			<integer>224</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 0.5}</string>
				<string>{1, -0.5}</string>
				<string>{-1, 0.5}</string>
				<string>{-1, -0.5}</string>
				<string>{0.5, 1}</string>
				<string>{-0.5, 1}</string>
				<string>{0.5, -1}</string>
				<string>{-0.5, -1}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>2</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;\f1\ftech\fcharset77 Symbol;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qr\pardirnatural

\f0\fs22 \cf0 D\sub PR-TTP\nosupersub (CAR)\
SN = Nonce 
\f1 \uc0\u8853 
\f0  SN 
\f1 \uc0\u8853 
\f0  Nonce\
Calculate Alias = h(Nonce 
\f1 \uc0\u8853 
\f0  SN)\
Check SN and H\sub i\nosupersub  relevancy\
Generate Anonymized Subhash Chain\
Store Alias and H'\sub i\nosupersub  \
Check the uniqueness of the Alias\
RP = E\sub PR-TTP\nosupersub (Alias || H'\sub i\nosupersub )   }</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{436.946, 357.409}, {38, 13}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>223</integer>
			<key>Line</key>
			<dict>
				<key>ID</key>
				<integer>222</integer>
				<key>Offset</key>
				<real>10.909090042114258</real>
				<key>Position</key>
				<real>0.50975430011749268</real>
				<key>RotationType</key>
				<integer>0</integer>
			</dict>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural

\f0\fs22 \cf0 Forward}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>222</integer>
			<key>Points</key>
			<array>
				<string>{406.525, 374.818}</string>
				<string>{503.475, 374.818}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>StickArrow</string>
					<key>HeadScale</key>
					<real>1.4285709857940674</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>TailScale</key>
					<real>0.5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{320.946, 354.409}, {38, 13}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>221</integer>
			<key>Line</key>
			<dict>
				<key>ID</key>
				<integer>220</integer>
				<key>Offset</key>
				<real>10.909090042114258</real>
				<key>Position</key>
				<real>0.52006888389587402</real>
				<key>RotationType</key>
				<integer>0</integer>
			</dict>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural

\f0\fs22 \cf0 Forward}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>220</integer>
			<key>Points</key>
			<array>
				<string>{289.525, 371.818}</string>
				<string>{386.475, 371.818}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>StickArrow</string>
					<key>HeadScale</key>
					<real>1.4285709857940674</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>TailScale</key>
					<real>0.5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{203.946, 351.409}, {38, 13}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>219</integer>
			<key>Line</key>
			<dict>
				<key>ID</key>
				<integer>218</integer>
				<key>Offset</key>
				<real>10.909090042114258</real>
				<key>Position</key>
				<real>0.52006888389587402</real>
				<key>RotationType</key>
				<integer>0</integer>
			</dict>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural

\f0\fs22 \cf0 Forward}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>218</integer>
			<key>Points</key>
			<array>
				<string>{172.525, 368.818}</string>
				<string>{269.475, 368.818}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>StickArrow</string>
					<key>HeadScale</key>
					<real>1.4285709857940674</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>TailScale</key>
					<real>0.5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{91.9207, 345.591}, {23, 13}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>217</integer>
			<key>Line</key>
			<dict>
				<key>ID</key>
				<integer>216</integer>
				<key>Offset</key>
				<real>10.909090042114258</real>
				<key>Position</key>
				<real>0.52006888389587402</real>
				<key>RotationType</key>
				<integer>0</integer>
			</dict>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural

\f0\fs22 \cf0 CAR}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>216</integer>
			<key>Points</key>
			<array>
				<string>{53, 363}</string>
				<string>{149.95, 363}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>StickArrow</string>
					<key>HeadScale</key>
					<real>1.4285709857940674</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>TailScale</key>
					<real>0.5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{4, 285}, {231, 49}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>HFlip</key>
			<string>YES</string>
			<key>ID</key>
			<integer>215</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 0.5}</string>
				<string>{1, -0.5}</string>
				<string>{-1, 0.5}</string>
				<string>{-1, -0.5}</string>
				<string>{0.5, 1}</string>
				<string>{-0.5, 1}</string>
				<string>{0.5, -1}</string>
				<string>{-0.5, -1}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;\f1\ftech\fcharset77 Symbol;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\f0\fs22 \cf0 CAR = \
E\sub PU-TTP\nosupersub (Nonce 
\f1 \uc0\u8853 
\f0  SN || Nonce || H\sub i\nosupersub )}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{72.0293, 253.591}, {59, 13}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>31</integer>
			<key>Line</key>
			<dict>
				<key>ID</key>
				<integer>6</integer>
				<key>Offset</key>
				<real>10.909090042114258</real>
				<key>Position</key>
				<real>0.52006888389587402</real>
				<key>RotationType</key>
				<integer>0</integer>
			</dict>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural

\f0\fs22 \cf0 Change Alias}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>6</integer>
			<key>Points</key>
			<array>
				<string>{151.95, 271}</string>
				<string>{55, 271}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>StickArrow</string>
					<key>HeadScale</key>
					<real>1.4285709857940674</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>TailScale</key>
					<real>0.5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{107.05, 206}, {110.9, 35}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>HFlip</key>
			<string>YES</string>
			<key>ID</key>
			<integer>214</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 0.5}</string>
				<string>{1, -0.5}</string>
				<string>{-1, 0.5}</string>
				<string>{-1, -0.5}</string>
				<string>{0.5, 1}</string>
				<string>{-0.5, 1}</string>
				<string>{0.5, -1}</string>
				<string>{-0.5, -1}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs22 \cf0 Threshold value passed}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{0, 139.295}, {96.95, 63.7045}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>HFlip</key>
			<string>YES</string>
			<key>ID</key>
			<integer>25</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 0.5}</string>
				<string>{1, -0.5}</string>
				<string>{-1, 0.5}</string>
				<string>{-1, -0.5}</string>
				<string>{0.5, 1}</string>
				<string>{-0.5, 1}</string>
				<string>{0.5, -1}</string>
				<string>{-0.5, -1}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs22 \cf0 Currently Getting Service via an open connection}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{477.5, 12}, {72, 76}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>213</integer>
			<key>ImageID</key>
			<integer>4</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{384.5, 36}, {24, 52}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>212</integer>
			<key>ImageID</key>
			<integer>3</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{251, 49}, {57, 35}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>211</integer>
			<key>ImageID</key>
			<integer>5</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{106.605, 6}, {110.9, 82}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>210</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{27.5, 49}, {36, 39}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>208</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>AllowLabelDrop</key>
					<false/>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>TimesNewRomanPSMT</string>
						<key>Size</key>
						<real>11</real>
					</dict>
					<key>ID</key>
					<integer>44</integer>
					<key>Points</key>
					<array>
						<string>{513.5, 127.99}</string>
						<string>{513.5, 699}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>HeadScale</key>
							<real>1.4285709857940674</real>
							<key>Legacy</key>
							<true/>
							<key>Pattern</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>TailScale</key>
							<real>0.5</real>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>45</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{472, 88}, {83, 39.4901}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>TimesNewRomanPSMT</string>
						<key>Size</key>
						<real>11</real>
					</dict>
					<key>ID</key>
					<integer>45</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict/>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc

\f0\fs22 \cf0 \ul \ulc0 TTP}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>43</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>AllowLabelDrop</key>
					<false/>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>TimesNewRomanPSMT</string>
						<key>Size</key>
						<real>11</real>
					</dict>
					<key>ID</key>
					<integer>41</integer>
					<key>Points</key>
					<array>
						<string>{396.5, 125.796}</string>
						<string>{396.5, 699}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>HeadScale</key>
							<real>1.4285709857940674</real>
							<key>Legacy</key>
							<true/>
							<key>Pattern</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>TailScale</key>
							<real>0.5</real>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>42</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{355, 88}, {83, 37.2962}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>TimesNewRomanPSMT</string>
						<key>Size</key>
						<real>11</real>
					</dict>
					<key>ID</key>
					<integer>42</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict/>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc

\f0\fs22 \cf0 \ul \ulc0 Operator}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>AllowLabelDrop</key>
					<false/>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>TimesNewRomanPSMT</string>
						<key>Size</key>
						<real>11</real>
					</dict>
					<key>ID</key>
					<integer>38</integer>
					<key>Points</key>
					<array>
						<string>{279.5, 126.893}</string>
						<string>{279.5, 699}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>HeadScale</key>
							<real>1.4285709857940674</real>
							<key>Legacy</key>
							<true/>
							<key>Pattern</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>TailScale</key>
							<real>0.5</real>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>39</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{238, 88}, {83, 38.3932}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>TimesNewRomanPSMT</string>
						<key>Size</key>
						<real>11</real>
					</dict>
					<key>ID</key>
					<integer>39</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict/>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc

\f0\fs22 \cf0 \ul \ulc0 Gateway}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>37</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>AllowLabelDrop</key>
					<false/>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>TimesNewRomanPSMT</string>
						<key>Size</key>
						<real>11</real>
					</dict>
					<key>ID</key>
					<integer>35</integer>
					<key>Points</key>
					<array>
						<string>{162.5, 126.893}</string>
						<string>{162.5, 699}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>HeadScale</key>
							<real>1.4285709857940674</real>
							<key>Legacy</key>
							<true/>
							<key>Pattern</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>TailScale</key>
							<real>0.5</real>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>36</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{121, 88}, {83, 38.3932}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>TimesNewRomanPSMT</string>
						<key>Size</key>
						<real>11</real>
					</dict>
					<key>ID</key>
					<integer>36</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict/>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc

\f0\fs22 \cf0 \ul \ulc0 Mesh\
Backbone}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>34</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>AllowLabelDrop</key>
					<false/>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>TimesNewRomanPSMT</string>
						<key>Size</key>
						<real>11</real>
					</dict>
					<key>ID</key>
					<integer>33</integer>
					<key>Points</key>
					<array>
						<string>{44.5, 126.893}</string>
						<string>{44.5, 699}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>HeadScale</key>
							<real>1.4285709857940674</real>
							<key>Legacy</key>
							<true/>
							<key>Pattern</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>TailScale</key>
							<real>0.5</real>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>3</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{3, 88}, {83, 38.3932}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>TimesNewRomanPSMT</string>
						<key>Size</key>
						<real>11</real>
					</dict>
					<key>ID</key>
					<integer>3</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict/>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc

\f0\fs22 \cf0 \ul \ulc0 Client}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>6</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image5.pdf</string>
		<string>image4.pdf</string>
		<string>image3.pdf</string>
		<string>image2.pdf</string>
		<string>image1.pdf</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2013-02-17 22:48:05 +0200</string>
	<key>Modifier</key>
	<string>Can Leloglu</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{595.29, 841.89}</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{112, 4}, {929, 774}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-110, 95}, {780, 636}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
